Source: neutron-taas
Section: net
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: James Page <james.page@ubuntu.com>,
           Thomas Goirand <zigo@debian.org>,
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all,
               python-pbr,
               python-setuptools,
               python-sphinx,
Build-Depends-Indep: python-babel (>= 2.3.4),
                     python-coverage (>= 3.6),
                     python-hacking,
                     python-neutron (>= 2:9.0.0~),
                     python-os-testr (>= 0.7.0),
                     python-oslosphinx (>= 2.5.0),
                     python-oslotest (>= 1.10.0),
                     python-testresources (>= 0.2.4),
                     python-testscenarios (>= 0.4),
                     python-testtools (>= 1.4.0),
                     subunit (>= 0.0.18),
                     testrepository (>= 0.0.18),
Standards-Version: 3.9.8
Homepage: http://github.com/openstack/tap-as-a-service
Vcs-Browser: https://git.openstack.org/cgit/openstack/deb-neutron-taas
Vcs-Git: https://git.openstack.org/openstack/deb-neutron-taas -b debian/newton

Package: python-neutron-taas
Architecture: all
Depends: python-babel (>= 2.3.4),
         python-neutron (>= 2:9.0.0~),
         ${misc:Depends},
         ${python:Depends},
Enhances: python-neutronclient,
Description: OpenStack virtual network service - Tap-as-a-Service extension
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 Tap-as-a-Service (TaaS) is an extension to the OpenStack network service
 (Neutron). It provides remote port mirroring capability for tenant virtual
 networks.
 .
 Port mirroring involves sending a copy of packets entering and/or leaving one
 port to another port, which is usually different from the original
 destinations of the packets being mirrored.
 .
 This service has been primarily designed to help tenants (or the cloud
 administrator) debug complex virtual networks and gain visibility into their
 VMs, by monitoring the network traffic associated with them. TaaS honors
 tenant boundaries and its mirror sessions are capable of spanning across
 multiple compute and network nodes. It serves as an essential infrastructure
 component that can be utilized for supplying data to a variety of network
 analytics and security applications (e.g. IDS).
 .
 This package provides the Python files for the Tap-as-a-Service (TaaS)
 extension.

Package: neutron-taas-openvswitch-agent
Architecture: all
Depends: neutron-common (>= 2:9.0.0~),
         python-neutron-taas (= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends},
Description: OpenStack virtual network service - Tap-as-a-Service agent
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 Tap-as-a-Service (TaaS) is an extension to the OpenStack network service
 (Neutron). It provides remote port mirroring capability for tenant virtual
 networks.
 .
 Port mirroring involves sending a copy of packets entering and/or leaving one
 port to another port, which is usually different from the original
 destinations of the packets being mirrored.
 .
 This service has been primarily designed to help tenants (or the cloud
 administrator) debug complex virtual networks and gain visibility into their
 VMs, by monitoring the network traffic associated with them. TaaS honors
 tenant boundaries and its mirror sessions are capable of spanning across
 multiple compute and network nodes. It serves as an essential infrastructure
 component that can be utilized for supplying data to a variety of network
 analytics and security applications (e.g. IDS).
 .
 This package provides the Tap-as-a-Service agent for Open vSwitch.
