Source: neutron-taas
Section: net
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: James Page <james.page@ubuntu.com>,
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all,
               python-pbr,
               python-setuptools,
               python-sphinx,
Build-Depends-Indep: python-babel (>= 2.3.4),
                     python-coverage (>= 3.6),
                     python-hacking,
                     python-neutron (>= 2:9.0.0~),
                     python-os-testr (>= 0.7.0),
                     python-oslosphinx (>= 2.5.0),
                     python-oslotest (>= 1.10.0),
                     python-testresources (>= 0.2.4),
                     python-testscenarios (>= 0.4),
                     python-testtools (>= 1.4.0),
                     subunit (>= 0.0.18),
                     testrepository (>= 0.0.18),
Standards-Version: 3.9.6
Homepage: http://github.com/openstack/tap-as-a-service
Vcs-Browser: https://anonscm.debian.org/gitweb/?p=openstack/neutron-taas.git;a=summary
Vcs-Git: https://anonscm.debian.org/git/openstack/neutron-taas.git

Package: python-neutron-taas
Architecture: all
Depends: python-babel (>= 2.3.4),
         python-neutron (>= 2:9.0.0~),
         ${misc:Depends},
         ${python:Depends},
Enhances: python-neutronclient,
Description: OpenStack virtual network service - Tap-as-a-Service extension
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the Python files for the Tap-as-a-Service (TaaS)
 extension.

Package: neutron-taas-openvswitch-agent
Architecture: all
Depends: neutron-common (>= 2:9.0.0~),
         python-neutron-taas (= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends},
Description: OpenStack virtual network service - Tap-as-a-Service agent
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the Tap-as-a-Service agent for Open vSwitch.
